// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.properties-index {
    thead {
        th:nth-child(1){
            width: 30%;
        }
        th:nth-child(2){
            width: 30%;
        }
        th:nth-child(3){
            width: 30%;
        }
    }

    tbody td div {
        display: flex;
        align-items: center;
        justify-content: center;

        span.d-none {
            margin-left: 0.5rem;
        }
    }
}
