<script>

    export default {
        data(){
            return {
                csrfToken: '',
                line1: '72 Nethergate',
                checkers: {}
            }
        },
        computed: {
            slug(){
                return this.line1.replace(' ', '-').toLowerCase()
            }
        },
        mounted(){
            this.csrfToken = document.querySelector('meta[name="csrf-token"]').content
            this.getCheckers();
        },
        methods: {
            getCheckers(){
                axios.get('/api-checkers').then(r => {
                    this.checkers = r.data;
                });
            },
            submitForm(){
                axios.get('/slug-exists/' + this.slug).then(r => {
                    r.data !== 1 ? jQuery('form').submit() : alert('That address already exists!');
                });
            }
        }
    }

</script>

<template>
    <div>
        <div class="modal fade" id="addPropertyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Property</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/">
                            <input type="hidden" v-model="csrfToken" name="_token"/>
                            <div class="form-group">
                                <input class="form-control" type="text" name="line1" v-model="line1" value="72 Nethergate" placeholder="Line 1"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="line2" value="Stannington" placeholder="Line 2"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="postcode" value="S6 2NG" placeholder="Postcode"/>
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="checker_id">
                                    <option value="">Choose Checker (can do this later)</option>
                                    <option v-for="checker in checkers" v-bind:value="checker.id" v-text="checker.name"></option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="submitForm">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPropertyModal">
            Add
        </button>
    </div>
</template>

<style scoped>
    button {
        margin-left: 1rem;
    }
</style>
