<template>
    <div class="row">
        <div class="col" style="margin-bottom: 1rem;">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button
                    v-for="(button, key) in buttons"
                    :key="key"
                    :class="buttonClass(key)"
                    @click="updateShowing(key)"
                >
                    <span v-text="button"></span>
                </button>
                <add-property></add-property>
            </div>
        </div>
    </div>
</template>

<script>
import AddProperty from "./AddProperty";

export default {
    props: ["showing"],
    components: {
        AddProperty
    },
    data() {
        return {
            buttons: {
                all: "All",
                "needs-gas": "Needs Gas",
                "needs-electric": "Needs Electric",
                "needs-both": "Needs Both"
            }
        };
    },
    methods: {
        updateShowing(newValue) {
            this.$emit("update-showing", newValue);
        },
        buttonClass(key) {
            return this.showing == key
                ? "btn btn-success"
                : "btn btn-outline-success";
        }
    }
};
</script>
