<template>
    <tr :class="prop.needsClass" v-show="show(prop)">
        <td v-html="prop.fullAddress"></td>
        <td class="text-center" v-html="gasTd(prop)">gas</td>
        <td class="text-center" v-html="electricTd(prop)">gas</td>
        <td><a :href="'/properties/' + prop.slug">View</a></td>
    </tr>
</template>

<script>
export default {
    props: ["prop", "showing"],
    data(){
        return {
            check: '<i class="far fa-check-circle"></i>',
        }
    },
    methods: {
        cross(prop, whatFor){
            return `<i class="far fa-times-circle"></i>`;
        },
        show(prop) {
            return (this.showing === "all") || prop.needsClass.includes(this.showing);
        },
        gasTd(prop){
            let output = '<div>';
            output += (prop.hasValidGas) ? `${this.check}  <span class="d-none tablet-up">${prop.gasExpires}</span>` : this.cross(prop, 'gas');
            output += '</div>';
            return output;
        },
        electricTd(prop){
            let output = '<div>';
            output += (prop.hasValidElectric) ? `${this.check}  <span class="d-none tablet-up">${prop.electricExpires}</span>` : this.cross(prop, 'electric');
            output += '</div>';
            return output;
        }
    }
};
</script>

<style>

    @media (min-width: 576px) {
        .tablet-up {
            display: inline !important;
        }
    }

    i {
        font-size: 150%;
    }

    .fa-times-circle {
        color: red;
    }

    .fa-check-circle {
        color: green;
    }
</style>
